version 5.193.0

group Server
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Saturn
    nuget Thoth.Json.Net
    nuget Thoth.Json.Giraffe
    nuget Npgsql

group Migrations
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Simple.Migrations
    nuget Npgsql

group Client
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Core
    nuget Fable.Fetch
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Fable.Elmish.Browser
    nuget Thoth.Json

    clitool dotnet-fable

group Build
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem

