*,
*::before,
*::after {
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
}

.app-sidebar {
    background-color: #f0f0f0;
}

.app-main {
    display: block;
    margin: 0 auto;

    width: 100%;
    max-width: 64rem;
}

.site-logo {
    margin: 0 auto;

    width: 4rem;
    height: 4rem;
}

.site-logo img {
    display: inline-block;
    margin: 0 auto;
}

.form {
    display: block;
    margin: 0 auto;

    max-width: 30rem;
}

.form--sign {
    width: 30rem;
}

.form__field {
    margin-top: 1rem;
}

.form__field--submit {
    margin-top: 1.5rem;
}

.form__control {
    display: block;
    padding: 0.5rem 1rem;
}

.form.form--vertical .form__field,
.form.form--vertical .form__control {
    width: 100%;
}

.form__control select,
.form__control input {
    padding-top: 1rem;
    padding-bottom: 1rem;

    width: 100%;

    text-indent: 1rem;
}

.flex__box {
    display: flex;

    align-items: center;
    justify-content: center;
}

.flex__item {
    flex: 1;
}

.text--placeholder {
    padding: 5rem 0;

    text-align: center;
}

.text--left {
    text-align: left;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

button {
    padding: 0.5rem 1rem;

    border-width: 1px;

    box-shadow: none;

    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
}

.button--fullwidth {
    width: 100%;
}

.button--solid {
    background-color: rgba(0, 0, 0, 0.8);
}

.button--solid.button--primary {
    border-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.button--outline {
    background-color: transparent;
}

.button--solid.button--outline {
    border-color: rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
}

.button--flat {
    border-color: transparent;
}

.button--flat.button--primary {
    color: rgba(0, 0, 0, 0.8);

    background-color: transparent;
}

.table.table--fullwidth {
    margin-top: 1rem;
    margin-bottom: 3rem;
    border: rgba(0, 0, 0, 0.15) 1px solid;

    width: 100%;

    border-collapse: collapse;
}

.table thead {
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

.table tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.05);
}

th,
td {
    padding: 0.5rem;
}

.card {
}

.card.card--padding {
    padding: 1rem;
}

.card__body {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.square {
    width: 50%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.form__field.square {
    position: relative;
    margin: 0 auto;

    max-width: 10rem;
}

.form__field.square input {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: 0;
}

.form__field.square img {
    position: absolute;
    z-index: -1;
    border: 1px solid #cccccc;

    width: 100%;
    height: 100%;
}

h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.checkbox__item span {
    display: inline-block;
    margin: 0 0.5rem;
}

.grid {
    display: flex;

    flex-wrap: wrap;
}

.grid__cell {
    margin: 0.5%;
    border: 1px solid #cccccc;

    width: 19%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.tool {
    display: inline-block;
    margin-right: 0.5rem;

    text-align: center;
}

.tool img {
    margin-right: 0.5rem;

    width: 1rem;
    height: 1rem;

    vertical-align: middle;
}
